div {
  width: 400px;
  height: 400px;
  background-image: url(images/css-assignment-5-8.png);
  background-color: #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

.shape1 {
  background-repeat: no-repeat;
}

.shape2 {
  background-repeat: repeat-y;
  background-position: right;
}

.shape3 {
  background-repeat: repeat-x;
  background-position: bottom;
}
