div {
  width: 20%;
  height: 150px;
  background-color: #ddd;
  padding-left: 20%;
  padding-top: 20px;
  margin-left: 30%;
  border-left-width: 2px;
  border-top-width: 4px;
  border-right-width: 6px;
  border-bottom-width: 8px;
  border-style: solid;
  border-left-color: aqua;
  border-top-color: blue;
  border-right-color: blueviolet;
  border-bottom-color: chartreuse;
  border: 2px dashed red;
}
